@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Open Sans", "Segoe UI", sans-serif;
}
h2 {
    font-size: 48px;

}
h3 {
    font-size: 32px;
}
body {
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav img {
    max-width: 80%;
}
.navbar ul {
    list-style-type: none;
}
.navbar li {
    float: left;
}
.navbar li a {
    padding: 20px;
    font-size: 22px;
    text-decoration: none;
    color: #000000;
}

/*--------------home page---------------*/

.section1 {
    position: relative;
    width: 100%;
    height: 690px;
}
.section1 img {
    width: 100%;
    height: 690px;
    object-fit: cover;
}
.section1 .content {
    position: absolute;
    left: 40px;
    top: 40%;
    transform: translate(0, -50%);
    color: white;
    padding: 20px;
    max-width: 55rem;
}
.section1 .content h1 {
    font-size: 90px;
    font-style: italic;
}
.section1 .content h2 {
    font-size: 50px;
    padding: 5px 0;
}
.section1 .content h3 {
    font-size: 25px;
}
.checkOut {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    text-align: center;
}

.section2 {
    height: 100%;
    background-color: #57B1E3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.services {
    text-align: center;
    padding: 40px;
}
.services i {
    font-size: 100px;
}
.services p {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    padding-top: 15px;
}

.section3Content {
    background-color: rgba(91, 188, 240, .33);
}
.section3Content h2 {
    color: #3E80A3;
}
.section3Content h3 {
    color: #4D9EC9;
}
.section3Content li, .section3Content p {
    color: #264E63;
}
.section3Img {
    width: 50%;
    object-fit: cover;
    height: 470px;
}
#InternetImg {
    float: right;
}
#ITImg {
    float: left;
}
#ourInternetPlan {
    flex-direction: row-reverse;
}
#ITService {
    text-align: right;
}
#InternetImg {
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
    shape-outside: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
}
#ITImg {
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    shape-outside: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
}
.contentPlans {
    min-height: 470px;
}
.section3Content ul {
    padding: 10px 0;
}
.section3Content ul li {
    list-style-type: none;
    font-size: 19px;
    font-weight: 600;
}
.section3Content ul li:nth-last-child(1){
    font-size: 24px;
    font-weight: 800;
}
#ourInternetPlan p {
    float: left;
    padding: 7px 5px 0 0;
    font-style: italic;
    font-weight: 500;
}
.wisconsinInternet {
    height: 35px;
    float: left;
}
.poweredBy {
    display: block;
    padding-top: 10px;
    min-height: 60px;
}
#ourInternetPlan .contentPlans {
    padding: 32px 0 0 40px;
}
#ITService .contentPlans {
    padding: 40px 40px 0 0;
}
.buttonLinks {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    color: #fff;
    background-color: #57B1E3;
    border-radius: 1rem;
}
